
<div class="header-top" style="position: absolute; background-color: transparent;">
  <div class="overlay-dark" style="display: none;"></div>
  <div class="container header-top-inner" style="margin-top: 30px; margin-bottom:npm ik 0px;">
    <a class="brand" routerLink="/home">
      <!-- <img
        src="../../assets/img/logo1.jfif"> -->
      <div class="classy_logo">YoungDeveloper </div>
    </a> <!-- logo -->
    <!-- hamburger -->
    <div class="hamburger closed" id="closed" (click)="myFunction()">
      <div class="h-line line-top"></div>
      <div class="h-line line-middle"></div>
      <div class="h-line line-bottom"></div>
    </div>


    <!-- hamburger -->
    <!-- navigation -->
    <nav class="nav-primary topnav " id="myDIV">
      <div class="menu-primary-container">
        <ul id="menu-primary" class="nav">
          <li id="menu-item-305"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-custom menu-item-object-custom menu-item-305">
            <a rel="m_PageScroll2id" routerLink="/home" class="_mPS2id-h">Home</a></li>
            <li id="menu-item-309"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-post_type menu-item-object-page menu-item-309">
            <a routerLink="/product">Product</a></li>
          <li id="menu-item-306"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-custom menu-item-object-custom menu-item-306">
            <a rel="m_PageScroll2id" routerLink="/features" class="_mPS2id-h">Features</a></li>
          <li id="menu-item-309"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-post_type menu-item-object-page menu-item-309">
            <a routerLink="/about">About us</a></li>
            <li id="menu-item-309"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-post_type menu-item-object-page menu-item-309">
            <a routerLink="/portfolio">Portfolio</a></li>
          <li id="menu-item-310"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-custom menu-item-object-custom menu-item-310">
            <a target="_blank" href="http://amanangular.wordpress.com">Angular Blog</a></li>
            <li id="menu-item-310"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-custom menu-item-object-custom menu-item-310">
            <a target="_blank" href="https://akanshagraphicdesigner.wordpress.com">Graphic Blog</a></li>

             
            <li id="menu-item-310"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-custom menu-item-object-custom menu-item-310">
            <a target="_blank" href="https://youngleran.wordpress.com/">Training</a></li>
  
          <li id="menu-item-311"
            class="animated bounceInDown page-nav-only menu-item menu-item-type-custom menu-item-object-custom menu-item-311">
            <a rel="m_PageScroll2id" routerLink="/contact">Contact us</a></li>
        </ul>
      </div>
      <!-- <a  class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a> -->
    </nav>
    <!-- navigation -->
  </div>
  <div class="clearfix"></div>
</div>
<!-- top header -->
<header class="banner" style="height: 211px;">

  <!-- video preview -->
  <div class="video-preview-wrap">

    <div class="m-video__inner">

      <div class="wrapper">
        <div class="pulse">
          <span>Innovation  </span>
          <span> Excellence </span>
          <span>YoungDeveloper</span>

        </div>
      </div>
    </div>

  </div>
  <div class="header-overlay"></div>
  <!-- video preview -->
  <div class="header-vertical">
    <!-- vertical center content -->
    <div class="center">
      <div class="container">
        <!-- intro wrap -->
        <!-- <div class="intro-wrap">
          <div class="intro-title">
            <span class="intro-title-split">Innovation and Excellence With YoungDeveloper</span>
          </div>
          <div class="intro-text">
            For a successful business strategy, Human resources are the most vital part. To attain the company's
            monetary goals successful business managers. </div>
          <a class="watch-video btn" title="play" rel="lightbox">Watch the video</a>
        </div> -->
        <!-- intro wrap -->
      </div>
    </div>
  </div>

  <img src="https://roomassistant.com/wp-content/themes/roomassistant_v2/dist/images/head-bg-bottom.svg"
    class="header-bottom-line">
    
</header>


