.header-top .header-top-inner {
    margin-bottom: 0px;
    margin-top: 0px !important;
    position: fixed !important;
    background: #363742a6;
    padding: 9px;
}

.closed{
    cursor: pointer !important;
}span {
    color:white;
    font-size:20px;
}
.wrapper {
    height:100vh;
    -webkit-animation: slide 60s linear infinite;
    background:url(http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/Tarantula%20nebula.jpg?itok=xbyxz9lz) repeat;
    background-position:120% 100%;
    background-size:cover;
    animation:animatebg 60s linear infinite;
}
.pulse {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:url(https://fallriverchapel.files.wordpress.com/2010/02/gda_world_map_small.jpg);
    background-size:cover;
    animation:animateEarth 12s linear infinite;
    width:200px;
    height:200px;
    border-radius:50%;
    box-shadow:inset 0 0 40px rgba(255,255,255,.5);
}

.pulse span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:block;
    width:100%;
    height:100%;
    border-radius:50%;
    background:transpatent;
    border:2px solid #fff;
    box-sizing:border-box;
    animation:animate 6s linear infinite;
}

.pulse span:nth-child(1) {
    animation-delay:0s;
}
.pulse span:nth-child(2) {
    animation-delay:-4s;
}
.pulse span:nth-child(3) {
    animation-delay:4s;
}

@keyframes animate {
    0% {
        width:200px;
        height:200px;
        opacity:1;
    }
    50% {
        opacity:1;
    }
    100% {
        width:500px;
        height:500px;
        opacity:0;
    }
   
}


@keyframes animateEarth {
    0% {
        background-position:0 0;
    }
    100% {
        background-position:719px 0;
    }
}

@keyframes animatebg {
    0% {
        background-position:0 0;
    }
    100% {
        background-position:719px 0;
    }
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(54, 55, 66, 0.07);
}



.nav li.page-nav-only a:hover {
    background-color: transparent;
    color: #1affb6 !important;
    border-bottom: 2px solid;
}

.header-top .header-top-inner .brand img {
    width: 53px;
    height: 53px;
}