.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 68%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.normal-form {
    
    pointer-events: auto;
    width: 40%;
    position: static;
}
.grid-list{
    float: left;
    width: 100%;
    
}
.form-group{
    width: 200%;
}