.contact_wrapper{
    float: left;
    width: 100%;
}
.contact_header
{    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 15px;

}
.contact_name{
    width: 50%;
}
.form-control{
    width: 50%;
    margin-left: 40%;
}

.contact_body{
    display: inline-table;
    height: 100%;
    padding: 30px 15px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #eff3f6;
}

nav>li {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: white;
}

.contact-list>li {
    border-bottom: 1px solid #eaeaea;
    border-radius: inherit;
    padding: 10px;
    background-color: #fff;
}

.fa-ellipsis-v:before {
    float: right;
   
}
.w-40 {
    width: 40px;
}
.img-circle {
    border-radius: 50%;
}.text-ellipsis {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.contact-date {
    color: #888;
    font-size: 12px;
}.contact-info {
    padding: 0 30px 0 50px;
}.user-img {
    display: inline-block;
    position: relative;
}.contact-cont {
    position: relative;
}.user-img {
    display: inline-block;
    position: relative;
}.status.online {
    background-color: #55ce63;
}.user-img .status {
    border: 2px solid #fff;
    bottom: 0;
    height: 10px;
    margin: 0;
    position: absolute;
    right: 0;
    width: 10px;
}
.status {
    background-color: #263238;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
.text-ellipsis {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.contact-action {
    height: 30px;
    list-style: none;
    padding-left: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 10px;
    width: 30px;
}.action-icon {
    color: #777;
    font-size: 18px;
    padding: 0 10px;
    display: inline-block;
}.contact-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.btn-primary {
    background-color: #337ab7;
    /* border: 1px solid #ff9b44; */
}.roles-menu {
    margin-top: 20px;
}.roles-menu .nav {
    background-color: #fff;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}.roles-menu .nav>li.active a {
    border-color: #ff9b44;
    color: #ff9b44;
}
.roles-menu .nav>li a:hover {
    border-color: #ff9b44;
}
.roles-menu .nav>li.active a {
    border-color: #ff9b44;
    color: #ff9b44;
}

