<div class="contact_wrapper">
  
  <div class="contact_header">
      <mat-toolbar >
      <mat-toolbar-row>
            <span id="contact_name">Contacts</span>
            
          
          </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="contact_body">

      <div  class="contact-cat col-xs-12 col-sm-4 col-lg-3">
         
              <a  class="btn btn-primary btn-block" (click)="openDialog()">
                  <i  class="fa fa-plus"></i> Add Contact
                </a>
          
        <!-- <a  class="btn btn-primary btn-block">
          <i  class="fa fa-plus"></i> Add Contact
        </a> -->
       
        <div  class="roles-menu" style="display: block;">
              <ul  class="nav">
                <li  class="active"><a  href="javascript:void(0);">All</a></li>
                <li ><a  href="javascript:void(0)">Company</a></li>
                <li ><a  href="javascript:void(0)">Client</a></li>
                <li ><a  href="javascript:void(0)">Staff</a></li>
              </ul> 
        
        </div>
      </div>

      <div  class="contacts-list col-xs-12 col-sm-8 col-lg-9">
        <ul  class="contact-list">
          <li ><div  class="contact-cont">
            <div  class="pull-left user-img m-r-10">
              <a  href="javascript:void(0)" title="">
                <img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn">
                <span  class="status online"></span>
              </a>
            </div>
            <div  class="contact-info">
              <span  class="contact-name text-ellipsis">John Doe <span  class="number-contact">(+917698234598)</span></span>
              <span  class="contact-date">Web Developer</span>
            </div>
            <ul  class="contact-action">
              <li  class="dropdown">
                <a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)">
                  <i  class="fa fa-ellipsis-v"></i>
                </a>
                <ul  class="dropdown-menu">
                  <li ><a  href="javascript:void(0)">Edit</a></li>
                  <li ><a  href="javascript:void(0)">Delete</a></li>
                </ul>
              </li>
            </ul>
          </div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status null"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Dwayne Johnson <span  class="number-contact">(+917698234598)</span></span><span  class="contact-date">NoedJS Developer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Mark Boucher <span  class="number-contact">(+917698234598)</span></span><span  class="contact-date">UI Designer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Zet Babu <span  class="number-contact">(+917697234598)</span></span><span  class="contact-date">Angular Developer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Steve Parker <span  class="number-contact">(+917698234598)</span></span><span  class="contact-date">Front End Developer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status null"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Will Smith <span  class="number-contact">(+918998234598)</span></span><span  class="contact-date">IOS Developer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Edward Snow <span  class="number-contact">(+918998234598)</span></span><span  class="contact-date">Database Developer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Steve Jobs <span  class="number-contact">(+917698234598)</span></span><span  class="contact-date">Apple CEO</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Bill Gates <span  class="number-contact">(+919698234598)</span></span><span  class="contact-date">Microsoft Developer</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li><li ><div  class="contact-cont"><div  class="pull-left user-img m-r-10"><a  href="javascript:void(0)" title=""><img  alt="" class="w-40 img-circle" src="assets/img/contact.pgn"><span  class="status online"></span></a></div><div  class="contact-info"><span  class="contact-name text-ellipsis">Pichai Sundar <span  class="number-contact">(+917698234598)</span></span><span  class="contact-date">Google CEO</span></div><ul  class="contact-action"><li  class="dropdown"><a  aria-expanded="false" class="dropdown-toggle action-icon" data-toggle="dropdown" href="javascript:void(0)"><i  class="fa fa-ellipsis-v"></i></a><ul  class="dropdown-menu"><li ><a  href="javascript:void(0)">Edit</a></li><li ><a  href="javascript:void(0)">Delete</a></li></ul></li></ul></div></li></ul></div>

    </div>

</div>