
<app-header2></app-header2>

<section id="features" class="features-section">
  <div class="container">
      <div class="row wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <div class="col-md-12 col-sm-12 features-heading">
              <h2>Amazing Features Office 320</h2>
              <p>Bringing the offline hotel experience finally into the digital realm for the comfort of the guests.

              </p>
          </div>
          <!--col-md-12-->
          <div class="col-md-6 col-lg-4 features-text">
              <div class="features-wrap">
                  <div class="features-content" data-aos="zoom-in">
                      <h3>
                        Instant Registration</h3>
                      <p>
                        Instant Registration
                        Instantly signup and store all your ID Proofs/Contact Details in one app available readily..</p>
                  </div>
                  <!--features-content-->
              </div>
              <!--features-wrap-->
              <div class="features-wrap" data-aos="zoom-in">
                  <div class="features-content">
                      <h3>
                        On-the-go Check Ins</h3>
                      <p>Guest can send all Check-In info before reaching Hotels and avoid queues at Reception..</p>
                  </div>
                  <!--features-content-->
              </div>
              <!--features-wrap-->
              <div class="features-wrap" data-aos="zoom-in">
                  <div class="features-content">
                      <h3>
                        Access Hotel Facilities in one tap</h3>
                      <p>Get Complete access to all of the Hotels Facilities on the tap. Like Food Ordering, Request for Room cleaning, Book a Spa appointment, Set Wake Up Call etc. all through the App..</p>
                  </div>
                  <!--features-content-->
              </div>
              <!--features-wrap-->
          </div>
          <!--col-md-6-->
          <div class="col-md-4 col-lg-4 hidden-md-down">
              <div class="features-img">
                  <img src="http://www.gleioapp.com/images/glee-search-hotel.png" alt="features-img">
              </div>
              <!--features-img-->
          </div>
          <!--col-md-4-->
          <div data-aos="flip-up" data-aos="zoom-in" class="col-md-6 col-lg-4 features-text">
              <div class="features-wrap">
                  <div class="features-content">
                      <h3>
                        Add Friends & Family</h3>
                      <p>
                        Add Friends & Family
                        Guest Can Check-In Friends and their Companion in Hotels Room, So that they can also make use of the App..</p>
                  </div>
                  <!--features-content-->
              </div>
              <!--features-wrap-->
              <div class="features-wrap" data-aos="zoom-in">
                  <div class="features-content">
                      <h3>
                        True Feedback</h3>
                      <p>Give feeback for each & every service if you want, or leave a feedback on popular platforms like TripAdvisor..</p>
                  </div>
                  <!--features-content-->
              </div>
              <!--features-wrap-->
              <div class="features-wrap" data-aos="zoom-in">
                  <div class="features-content">
                      <h3>Multiple Reservations & Check Ins</h3>
                      <p>
                        Multiple Reservations & Check Ins
                        Gleio makes it very easy to handle & manage all of your hotel reservations & check-ins..</p>
                  </div>
                  <!--features-content-->
              </div>
              <!--features-wrap-->
          </div>
          <!--col-md-6-->
      </div>
      <!--row-->
  </div>
  <!--container-->
</section>

<app-footer></app-footer>