<mat-toolbar color="primary" class="fixed-top">
    <mat-toolbar-row class="navbar_custom_ul  ">
        <span class="navbar_brandname_custom">
            <img src="../assets/image/youngdeveloper_logo.png">
        </span>

        <span routerLink="dashboard">Home</span>
        <span>About us</span>
        <span>Project </span>
        <span routerLink="contact">Contact</span>
        <span routerLink="slidebar">slidebar</span>
        <span class="example-spacer"></span>
        <!-- <mat-icon class="example-icon">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon>
        -->
        <!-- <mat-icon class="example-icon">person</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>