.header_wrapper {}

.navbar_wrapper_custom {
    padding: 10px;
    background: #2d0463 !important;
}

.navbar_brandname_custom {
    font-size: 24px;
    font-weight: 800;
}

.navbar_custom_ul {}

.navbar_custom_ul span {
    font-size: 17px;
    color: lightyellow;
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar_custom_sapn:hover {
    background: #6287af;
}

.example-icon {
    padding: 7px;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

.navbar_brandname_custom img{

    height: 61px;
    width: 65px;
    background: white;
}
.headIcon{
    margin: 10px;
    padding: 10px;
}
.fa{
    margin: 20px;
}
.btn {
    background-color:transparent; /* Blue background */
    border: none; /* Remove borders */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .notidiv{
    position: absolute;
    height: 260px;
    width: 409px;
    background: red;
    top: 65px;
    right: 20px;
    z-index: 99;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
  }
  .avatar{
      width: 56px;
      height: 48px;
      border-radius: 50%;
  }