<div class="bottom_wrapper">
    <div class="container  footer_content">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="footer_brand">
                    <a routerlink="/home" href="/home"></a>

                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <h5 class="text-center footer_head">Get to Know Us </h5>
                    <ul class="list-unstyled footer_items">
                        <li>
                            <a routerlink="/about" href="/about">about</a>
                        </li>
                        <li class="">
                            <a routerlink="/contact" href="/contact">contact</a>
                        </li>
                        <li class="">
                            <a routerlink="/project" href="/project">project</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <h5 class="text-center footer_head">Product </h5>
                    <ul class="list-unstyled footer_items">
                        <li>
                            <a routerlink="/isuite" href="/isuite">isuite</a>
                        </li>
                        <li class="">
                            <a routerlink="/pricing" href="/pricing">pricing</a>
                        </li>
                        <li class="">
                            <a routerlink="/reports" href="/project">reports</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <h5 class="text-center footer_head">Resources </h5>
                    <ul class="list-unstyled footer_items">
                        <li>
                            <a routerlink="/isuite" href="/isuite">Terms of Services</a>
                        </li>
                        <li class="">
                            <a routerlink="/pricing" href="/pricing">privacy policy</a>
                        </li>
                        <li class="">
                            <a routerlink="/reports" href="/project">help and Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container  footer_content">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="footer_text">© 2019 iface LLC All right reserved.</p>
                <a class="iface_footer_link" href="https://iface.io/home" target="_blank">iface.
                    <span id="io">io</span>
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="footer_icon">
                    <li class="footer_icon_li">
                        <a href="https://twitter.com/IfaceIo" target="_blank" title="Twitter"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>