.bottom_wrapper{
    width: 100%;
    float: left;
    background-color: #0a0a3c;
    border-bottom: red;
}
.footer_content{
    padding-top: 70px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding-bottom: 50px;
    margin-bottom: -38px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer_brand{
    width: 50%;
}
.footer_head{
    color: #41ebaf;
    font-family: auto;
    font-size: 1.6rem;
    margin-top: -30px;

}
.list-unstyled{
    padding-left: 0;
    list-style: none;
    margin-left: -56px;

}
.footer_items li a{
    color: #f5f5f5;
    text-align: center;
    font-size: 1.4rem;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    padding-top: 8px;
    font-family: auto;
    cursor: pointer;
}
.footer_text{
    color: rgba(255,255,255,.5);
    display: inline-block;
    font-family: auto;
    font-size: 1.5rem;
}
a.iface_footer_link{
    display: inline-block;
    margin-left: 10px;
    color: #f5f5f5!important;
    font-family: auto;
    font-size: 1.5rem;
}
#io{
    color: #00c864;
    font-family: auto;
}
.footer_icon{
    
}