<!-- <div id="back_img"> -->
<div class="dash_wrapper">
        <!-- <div id="back_img"> -->
     <div class="container-fluid">
        
         <div class="row dash_cantainer_box1">
               <div id="back_img">
              <div class="col-md-6">
                   <div class="dashboard_custom" [@scrollAnimation]="state">
                         <img src="assets/image/yd.png">
                   </div>
             </div>


             <div class="col-md-6">
                 <div class="dash_cantainer_box1_title">
                     iSuite is built into interface CRM
                </div>
                     <div class="dash_cantainer_box1_subtitle">
                          <p>iSuite contains iMail, iDrive, iContacts, and iCalendar in the header of the dashboard i.e you don't need to use personal G suite as interface iSuite contains all of this at a single place. 
                          <br><br><span>iface.io is the interface CRM for G Suite, so it can easily combine
                          with its other features.</span></p>
                          </div>
                     </div>
                <!-- </div> -->
                
         <!-- </div> -->
             </div>
        </div>

<!-- ===New Code=== -->
<div class="row_box3">

          <div class="col-md-1">
               <span class="dash2nd">The space for our young developer</span>
             <div class="col-md-4">

          <div class="col-md-1">

     <div class="col-md-5">
          <div class="col-md-1">


          </div>
     </div>
          </div>
             </div>

          </div>

</div>
<!-- =======Till Here===== -->
    </div>
    </div>
<!-- </div> -->

   