.dash_wrapper {}

.dash_cantainer_box1 {
    height: 400px;
    /* background: rgba(0, 0, 0, 0.05); */
    /* box-shadow: 9px 3px 5px 2px rgba(0, 0, 0, 0.25); */
    float: left;
    color: black;
    margin-bottom: 14px;
}

.dash_cantainer_box1_title {
    font-family: poppinsemibold;
    font-weight: 600;
    font-style: normal;
    font-size: 3.6rem;
    /* color: #0a0a3c; */
    color:black;
    padding-bottom: 65px;
}

.dash_cantainer_box1_subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    /* color: currentColor; */
    color: black;
    font-weight: 400;
}

#back_img{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
    float: left;
    /* background-image: url("src/assets/image/background.jpg"); */
}

.dashboard_custom img{
    height: 452px;
}
