<app-header2></app-header2>
<div  class="isute_product_wrapper">
  <div  id="flag"></div>
  <div  class="file_sharing_contain">
    <div  class="img_overlay"></div>
    <div  class="container mt-5 mb-5">
      <div  class="row">
        <div  class="col-md-5">
          <div  class="wrapper_of_isuite">
            <h5  class="isuite_head_text_2"><span  class="i_brand">Office 320</span> is
              built into Own HRMS.</h5>
            <h5  class="isuite_subheading_2"> Office 320 contains iMail, iDrive, iContacts, and iCalendar in
              the header of the dashboard. </h5>
          </div>
        </div>
        <div  class="col-md-7">
          <div  data-aos="zoom-in" data-aos-duration="1500" data-aos-easing="linear"
            class="aos-init aos-animate"><img  alt="" class="img-fluid"
              src="https://iface.io/assets/images/file-sharing-new1.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div  class="imail_box_wrapper">
    <div  class="container mt-5">
      <div  class=" card_context_wrapper">
        <div  class="row">
          <div  class="col-sm-6 col-md-6 col-lg-6 ">
            <div  class="wrapper_mail_head">
              <h1  class="isuite_head_text small_heading"> Automatic Gmail and <span 
                  class="i_brand">iMail</span> Syncing </h1>
              <h5  class="isuite_subheading"> Gmail sync automatically identifies us and redirect your
                all recruiting emails into interface CRM. </h5>
            </div>
          </div>
          <div  class="col-sm-6 col-md-6 col-lg-6">
            <div  data-aos="flip-down" data-aos-duration="1500" data-aos-easing="linear"
              class="aos-init"><img  alt="Card image cap" class="card-img-bottom img-fluid"
                src="https://iface.io/assets/images/g-mailsyncing_image.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="icontact_wrapper">
    <div  class="img_overlay"></div>
    <div  class="container mt-5">
      <div  class="row">
        <div  class="col-sm-6 col-md-6">
          <div  data-aos="fade-right" data-aos-duration="1000" data-aos-offset="300" class="aos-init">
            <img  alt="" class="img-fluid" src="https://iface.io/assets/images/i-contact-small.png"></div>
        </div>
        <div  class="col-sm-6 col-md-6">
          <div  class="wrapper_contact">
            <h1  class="isuite_head_text_2">Your contacts &amp; <span 
                class="i_brand">iContact</span> together.</h1>
            <h5  class="isuite_subheading_2">The Best CRM for customers who love Google.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="event_wrapper">
    <div  class="container mt-5">
      <div  class="row">
        <div  class="col-sm-5 col-md-5 ">
          <div  class="event_text_wrapper">
            <h1  class="isuite_head_text custom_change_event_text">Events will be on your Fingertip!
            </h1>
            <h5  class="isuite_subheading">Use <span  class="i_brand">iCalendar</span>
              directly from CRM.</h5>
          </div>
        </div>
        <div  class="col-md-1"></div>
        <div  class="col-sm-4 col-md-4">
          <div  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000"
            class="aos-init"><img  alt="" class="img-fluid"
              src="https://iface.io/assets/images/calendar_eventsimage.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div  class="drive_box_wrapper">
    <div  class="container-fluid idrive_second_wrapper">
      <div  class="row">
        <div  class="col-md-1"></div>
        <div  class="col-sm-5 col-md-5 col-lg-5">
          <div  data-aos="flip-up" data-aos-duration="1500" data-aos-easing="linear" class="aos-init">
            <img  alt="" class="img-fluid" src="https://iface.io/assets/images/drive-syncing_pic.png"></div>
        </div>
        <div  class="col-sm-5 col-md-5 col-lg-5">
          <div  class="idrive_custom_mod">
            <h1  class="isuite_head_text text_left"><span  class="i_brand">iDrive</span>
              synced to G drive </h1>
            <h5  class="isuite_subheading text_left"> Just upload and share necessary things in your CRM
              and everything is visible on your both drives as iDrive is synced to G-drive.</h5>
          </div>
        </div>
        <div  class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>