<div class="about_wrapper">
  <div class="container-fluid">
    <div class="row about_cantainer_box1">
      <div class="col-md-6">
        hiii
      </div>
      <div class="col-md-6">
        hello
      </div>
    </div>
  </div>
</div>