#particles-js{
    background: #0a0a3c;
    height: 600px;
}	
.bg_animate_wrapper{
    width: 100%;
    float: left;
    max-height: 550px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0,100% 0,100% 450px,0 100%);
    clip-path: polygon(0 0,100% 0,100% 450px,0 100%);
    margin-top: 0x;
    position: relative;
}
.headline_wrapper{
    width: 100%;
    float: left;
    top: 220px;
    position: absolute;
    color: red;
   
}
.check_text{
    text-align: center;
    /* color: #fff; */
     /* font-size: larger; */
     font-family: sans-serif; 
    /* font-family: poppinsemibold; */
    font-weight: 700;
    font-style: normal;
    /* font-size: 3.6rem; */
    
}
.desc{
    font-size: 32px;
    font-family: sans-serif;
    color: white; 
}

/* .button_wrap{
    width:30%;
    font-family: poppinlight;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 10px;
    border-radius: 28px;
    background-color: #17a4b8;
    color: #fff;
    padding: 3px 30px; */
    /* text-align: center; */
/* } */

.mat-chip-list{
    /* top:50px;
    margin-right:700px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 24px;
    height: 40px;
    margin-left: 79%;
    
}

.example-button{
  margin-right: 700px;
  top:30px;
  text-align: center;
}

