<div class="bg_animate_wrapper">
<div id="particles-js">
<div class="headline_wrapper">
     
         <div class="check_text">
             <span class="desc">YOUNG-DEVELOPER</span><br>
         </div>
        
         <div class="example-button">
                
                <mat-chip-list>
                        <mat-chip color="primary" selected>Primary</mat-chip>
                        <mat-chip color="accent" selected>Accent </mat-chip>
                      </mat-chip-list>
                
        </div>
         
</div>

</div>

</div>

    
  
 