<app-header></app-header>

<div class="container problems-container-wrap " id="problems_animation">
  <div class="company_value_wrapper">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3 col-sm-6"></div>
        <div class="col-md-6 col-sm-6">
          <div class="company_value_head_style">
            <h3 _ngcontent-c5=""> Company values </h3>
            <div class="line_color"></div>
            <div class="small_line"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"></div>
      </div>
    </div>
    <div class="company_value_main_wrapper">
      <div class="container">
        <div class="row" data-aos="fade-right" data-aos-duration="2000" class="aos-init">
          <div class="col-md-4 col-sm-6">
            <!-- data-aos="fade-right" data-aos-duration="2000" class="aos-init" -->
            <div>
              <div class="wrimagecard wrimagecard-topimage"><a href="#">
                  <div class="wrimagecard-topimage_header value_image"><img alt="" class="img-fluid"
                      src="https://iface.io/assets/images/Have-fun2.png"></div>
                  <div class="wrimagecard-topimage_title">
                    <div class="value_title"> Be Nice </div>
                    <div class="value_subtitle">kindness is everyone's responsibility. </div>
                  </div>
                </a></div>
            </div>
          </div>
          <!-- data-aos="fade-down" data-aos-duration="2000" class="aos-init" -->
          <div class="col-md-4 col-sm-6">
            <div>
              <div class="wrimagecard wrimagecard-topimage"><a href="#">
                  <div class="wrimagecard-topimage_header value_image"><img alt="" class="img-fluid"
                      src="https://iface.io/assets/images/Be-obligate1.png"></div>
                  <div class="wrimagecard-topimage_title">
                    <div class="value_title"> Work Hard </div>
                    <div class="value_subtitle">Every day. </div>
                  </div>
                </a></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div>
              <div class="wrimagecard wrimagecard-topimage"><a href="#">
                  <div class="wrimagecard-topimage_header value_image"><img alt="" class="img-fluid"
                      src="https://iface.io/assets/images/Stay-curious1.png"></div>
                  <div class="wrimagecard-topimage_title">
                    <div class="value_title"> Push Yourself </div>
                    <div class="value_subtitle">You are your own best competitor. </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
        <div class="row mt-3" data-aos="fade-down" data-aos-duration="2000" class="aos-init">
          <div class="col-md-4 col-sm-6">
            <div>
              <div class="wrimagecard wrimagecard-topimage"><a href="#">
                  <div class="wrimagecard-topimage_header value_image"><img alt="" class="img-fluid"
                      src="https://iface.io/assets/images/Hard-work1.png"></div>
                  <div class="wrimagecard-topimage_title">
                    <div class="value_title"> Have Fun </div>
                    <div class="value_subtitle">Fun, Relaxation, creativity and learning. </div>
                  </div>
                </a></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div>
              <div class="wrimagecard wrimagecard-topimage"><a href="#">
                  <div class="wrimagecard-topimage_header value_image value_image_i"><img alt="" class="img-fluid"
                      src="https://iface.io/assets/images/push-yourself1.png"></div>
                  <div class="wrimagecard-topimage_title">
                    <div class="value_title"> Be Responsible </div>
                    <div class="value_subtitle"> Take ownership of problems, not just your own.
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div>
              <div class="wrimagecard wrimagecard-topimage"><a href="#">
                  <div class="wrimagecard-topimage_header value_image"><img alt="" class="img-fluid"
                      src="https://iface.io/assets/images/Be-nice2.png"></div>
                  <div class="wrimagecard-topimage_title">
                    <div class="value_title"> Stay Curious </div>
                    <div class="value_subtitle">Question everything, get better, iterate. </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="company_value_head_style">
    <h3 _ngcontent-c5=""> Meet Our Team </h3>
    <div class="line_color"></div>
    <div class="small_line"></div>
  </div>
<app-team></app-team>

<div class="container h-100">
</div>
<section class="contact pt-100 pb-100" id="contact">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 mx-auto text-center">
             <div class="section-title mb-100">
                <p>get in touch</p>
                <h4>contact me</h4>
             </div>
          </div>
       </div>
       <div class="row text-center">
             <div class="col-md-8">
                <form action="#" class="contact-form">
                   <div class="row">
                      <div class="col-xl-6">
                         <input type="text" placeholder="name">
                      </div>
                      <div class="col-xl-6">
                         <input type="text" placeholder="email">
                      </div>
                      <div class="col-xl-6">
                         <input type="text" placeholder="subject">
                      </div>
                      <div class="col-xl-6">
                         <input type="text" placeholder="telephone">
                      </div>
                      <div class="col-xl-12">
                         <textarea placeholder="message" cols="30" rows="10"></textarea>
                         <input type="submit" value="send message">
                      </div>
                   </div>
                </form>
             </div>
             <div class="col-md-4">
                <div class="single-contact">
                   <i class="fa fa-map-marker"></i>
                   <h5>Address</h5>
                   <p>661 Lefferts, NY 11203, USA</p>
                </div>
                <div class="single-contact">
                   <i class="fa fa-phone"></i>
                   <h5>Phone</h5>
                   <p>(+1) 517 397 7100</p>
                </div>
                <div class="single-contact">
                   <i class="fa fa-envelope"></i>
                   <h5>Email</h5>
                   <p>infor@personal.com</p>
                </div>
             </div>
       </div>
    </div>
 </section>
 <app-project-images></app-project-images>

<app-footer></app-footer>